<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置Action的类 -->
	<bean id="studentAction" class="com.ustb.Action.StudentAction"
		scope="prototype">
		<property name="studentService" ref="studentServiceImpl"></property>
	</bean>
	<bean id="signAction" class="com.ustb.Action.SignAction" scope="prototype">
		<property name="signService" ref="signServiceImpl"></property>
	</bean>
	<!-- 配置Service的类 -->
	<bean id="teacServiceImpl" class="com.ustb.ServiceImpl.TeacherServiceImpl">
		<property name="teacherDao" ref="teacDaoImpl"></property>
	</bean>
	<bean id="experimentServiceImpl" class="com.ustb.ServiceImpl.ExperimentServiceImpl">
		<property name="experimentTableDao" ref="experDaoImpl"></property>
	</bean>
	<bean id="studentServiceImpl" class="com.ustb.ServiceImpl.StudentServiceImpl">
		<property name="studentDao" ref="studentDaoImpl"></property>
	</bean>
	<bean id="studentSignServiceImpl" class="com.ustb.ServiceImpl.StudentSignServiceImpl">
		<property name="signDao" ref="signDaoImpl"></property>
	</bean>
	<bean id="signServiceImpl" class="com.ustb.ServiceImpl.SignServiceImpl">
		<property name="signDao" ref="signDaoImpl"></property>
	</bean>
	<!-- 配置DAO的类 -->
	<bean id="teacDaoImpl" class="com.ustb.DaoImpl.TeacherDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="experDaoImpl" class="com.ustb.DaoImpl.ExperimentTableDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="signDaoImpl" class="com.ustb.DaoImpl.SignDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="studentDaoImpl" class="com.ustb.DaoImpl.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 引入外部文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.Driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!-- 配置hibernate相关属性 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>
					com/ustb/entity/Teacher.hbm.xml
				</value>
				<value>
					com/ustb/entity/Student.hbm.xml
				</value>
				<value>
					com/ustb/entity/ExperimentTable.hbm.xml
				</value>
				<value>
					com/ustb/entity/Sign.hbm.xml
				</value>
			</list>
		</property>
	</bean>
</beans>












