<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- filter过滤器配置 -->
	<filter>
		<filter-name>SpringOpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>AUTO</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SpringOpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Servlet类的配置 -->
	<servlet>
		<servlet-name>TeacherLogin</servlet-name>
		<servlet-class>com.ustb.servlet.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherLogin</servlet-name>
		<url-pattern>/teacherlogin.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExperimentTable</servlet-name>
		<servlet-class>com.ustb.servlet.AddTableServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExperimentTable</servlet-name>
		<url-pattern>/experimentTable.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.ustb.servlet.RegisterServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/registerServlet.servlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.ustb.servlet.StudentLoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/studentLoginServlet.servlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignServlet</servlet-name>
		<servlet-class>com.ustb.servlet.SignServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FuAn</display-name>
		<servlet-name>FuAn</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.FuAn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShengSu</display-name>
		<servlet-name>ShengSu</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.ShengSu</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QuanXiZhaoXiang</display-name>
		<servlet-name>QuanXiZhaoXiang</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.QuanXiZhaoXiang</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GuangShan</display-name>
		<servlet-name>GuangShan</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.GuangShan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FeCrAl</display-name>
		<servlet-name>FeCrAl</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.FeCrAl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PN</display-name>
		<servlet-name>PN</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.PN</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BiaoMianZhangLi</display-name>
		<servlet-name>BiaoMianZhangLi</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.BiaoMianZhangLi</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DianZiDianHe</display-name>
		<servlet-name>DianZiDianHe</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.DianZiDianHe</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DuoPuLe</display-name>
		<servlet-name>DuoPuLe</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.DuoPuLe</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GanShe</display-name>
		<servlet-name>GanShe</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.GanShe</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HuoEr</display-name>
		<servlet-name>HuoEr</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.HuoEr</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>KongQiBiRe</display-name>
		<servlet-name>KongQiBiRe</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.KongQiBiRe</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LengJingFenXiYi</display-name>
		<servlet-name>LengJingFenXiYi</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.LengJingFenXiYi</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShouPoZhengDong</display-name>
		<servlet-name>ShouPoZhengDong</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.ShouPoZhengDong</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShiBoQi</display-name>
		<servlet-name>ShiBoQi</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.ShiBoQi</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FrankHz</display-name>
		<servlet-name>FrankHz</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.FrankHz</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChaoShengBo</display-name>
		<servlet-name>ChaoShengBo</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.ChaoShengBo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>YangShiMoLiang</display-name>
		<servlet-name>YangShiMoLiang</servlet-name>
		<servlet-class>com.ustb.ExperimentServlet.YangShiMoLiang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignServlet</servlet-name>
		<url-pattern>/signServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FuAn</servlet-name>
		<url-pattern>/FuAn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShengSu</servlet-name>
		<url-pattern>/ShengSu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuanXiZhaoXiang</servlet-name>
		<url-pattern>/QuanXiZhaoXiang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GuangShan</servlet-name>
		<url-pattern>/GuangShan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeCrAl</servlet-name>
		<url-pattern>/FeCrAl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PN</servlet-name>
		<url-pattern>/PN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BiaoMianZhangLi</servlet-name>
		<url-pattern>/BiaoMianZhangLi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DianZiDianHe</servlet-name>
		<url-pattern>/DianZiDianHe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DuoPuLe</servlet-name>
		<url-pattern>/DuoPuLe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GanShe</servlet-name>
		<url-pattern>/GanShe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HuoEr</servlet-name>
		<url-pattern>/HuoEr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KongQiBiRe</servlet-name>
		<url-pattern>/KongQiBiRe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LengJingFenXiYi</servlet-name>
		<url-pattern>/LengJingFenXiYi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShouPoZhengDong</servlet-name>
		<url-pattern>/ShouPoZhengDong</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShiBoQi</servlet-name>
		<url-pattern>/ShiBoQi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrankHz</servlet-name>
		<url-pattern>/FrankHz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChaoShengBo</servlet-name>
		<url-pattern>/ChaoShengBo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>YangShiMoLiang</servlet-name>
		<url-pattern>/YangShiMoLiang</url-pattern>
	</servlet-mapping>
</web-app>
