<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>SpringOpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SpringOpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Servlet类的配置 -->
	<servlet>
		<servlet-name>TeacherLogin</servlet-name>
		<servlet-class>com.ustb.servlet.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherLogin</servlet-name>
		<url-pattern>/teacherlogin.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExperimentTable</servlet-name>
		<servlet-class>com.ustb.servlet.AddTableServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExperimentTable</servlet-name>
		<url-pattern>/ExperimentTable.servlet</url-pattern>
	</servlet-mapping>

</web-app>
